#map { height: 500px; }

body
{
    background-color: whitesmoke;
}

.h1
{
    font-size: xx-large;
    font-weight: bold;
    font-variant: small-caps;
}

.ul
{
    font-size: larger;
    font-variant: small-caps;
}

.ul li{display: table;}

.ul li:hover
{
    font-weight: bold;
    cursor: pointer;
}

.event-info{
    display: flex;
    list-style: none;
    padding-left: 40%;
    padding-right: 5%;
    width: 100%;
}

.main-box
{
    display: flex;
    align-items: flex-end;
}
.category-box{width: 40%;}
.general-box div{width: 60%;}

.general-box {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.general-box li{
    padding: 0.75% 2%;
    display: flex;
    width: 100%;
}

h3{
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
}

p{
    margin-left: 2%;
    font-size: large;
    font-variant: small-caps;
}

/* Hide/Show */ 
.hide{display: none;}
.show{display: flex;}
